  @import '_variables.scss';

  p {
    color: $paragraph-color;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    color: $text-color;
    background-color: $background-color;
  }
  
  .layout_margin {
    margin: 90px 0;
  }
  
  .layout_padding {
    padding: 90px 0;
  }
  
  .layout_padding2 {
    padding: 45px 0;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  .layout_padding2-bottom {
    padding-bottom: 45px;
  }
  
  .layout_padding-top {
    padding-top: 90px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 90px;
  }
  
  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .heading_container h2 {
    font-weight: bold;
    color: #1d1e31;
    position: relative;
    text-transform: uppercase;
  }
  
  .heading_container hr {
    margin: 0 10px;
    border: none;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 200px;
    height: 3px;
    background-color: $blue-custom;
  }
  
  .hero_next_section-margin {
    margin-top: 100px;
  }